/**
 * Site header
 */
.site-header {
    min-height: 56px;
    position: relative;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.social-media-list li{
  float: left;
}

.social-media-list li::after{
  content: "";
  clear: both;
}

.center-wrapper {
  margin: 0 auto;
  width: 400px;
  @include media-query($on-palm) {
    width:320px;
  }
}

/**
 * Badge
 */

.badge{
  background-color: $secondary-background-color;
  min-width:320px;
  border:2px solid #ddd;
  margin-top:100px;
  text-align: center;
  @include media-query($on-iphone){
    min-width: 300px;
    text-align: left;
    margin-left: -7px;
  }
}

.badge h1{
  margin-bottom:-15px;
}

.badge .button-list{
  height:30px;
  width:150px;
  margin:0 auto;
}

.badge .info{
  font-size:14px;
  padding-bottom: 20px;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
