.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.social-media-list li{
  float: left;
}

.social-media-list li::after{
  content: "";
  clear: both;
}

.center-wrapper {
  margin: 0 auto;
  width: 400px;
  @include media-query($on-palm) {
    width:320px;
  }
}

.home-content {
  padding-top: 100px;
}

/**
 * Badge
 */

.badge{
  background-color: $secondary-background-color;
  min-width:320px;
  border:2px solid #ddd;
  margin-top:100px;
  text-align: center;
  @include media-query($on-iphone){
    min-width: 300px;
    text-align: left;
    margin-left: -7px;
  }
}

.badge h1{
  margin-bottom:-15px;
}

.badge .button-list{
  height:30px;
  width:230px;
  margin:0 auto;
}

.badge .info{
  font-size:14px;
  padding-bottom: 20px;
}

.blog-link, .blog-link:visited {
  color:black;
  text-decoration: underline;
}


/**
 * Basic styling
 */
.home-body {
    background-color: $background-color;
}

.avatar-img{
  width: 140px;
  height: 140px;
  margin: -70px auto 10px auto;
  background-image: url('/images/avatar.png');
  background-size: cover;
  display: block;
  border-top-left-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: underline;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        padding-left: 20px;
    }
}
