<!DOCTYPE html>
<html>

{% include _head.html %}

<body class="home-body">
  {% include _browser-upgrade.html %}
  <div class="home-content">
    <div class="wrapper">
      <div class="badge">
        <div class="center-wrapper">
          <div id="avatar-container">
            <div class="avatar-img"></div>
          </div>

          <div class="info">
            <h1>Westin Wrzesinski</h1>

            <div class="button-list">
              {% include socialmedia/socialbuttons.html %}
            </div>

            <div class="info">
              <div>Solutions Architect </div>
              <div>Chicago, IL </div>
              <div>
                Present:
                <a href="https://www.slalom.com/locations/chicago"> Slalom Consulting </a>
              </div>
              <div>
                Past:
                <a href="http://blinqmedia.com">BLiNQ Media</a> &
                <a href="https://shoplocal.com">ShopLocal</a>
              </div>
              <div>Primarily work in JavaScript. Experience with Ruby, C, and C#</div>
            </div>
            <h2><a class="blog-link" href="/posts">My Blog</a></h2>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
